.result-container{
    width: 100%;
    height: 110%;
    padding: 10px;
    display: flex;
    overflow: auto;
    flex-direction: column;
    background-color: white;
    position: relative;
}
.vector-bar{
    width: 100%;
    height: 65px;
}
.graph-wrapper{
    width: 100%;
    height: 100%;
}
.graph-buttons{
    height: 85px;
    width: 100%;
}
.graph-canvas{
    height: calc(100% - 85px);
    width: 100%;
}

/* .tooManyModal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    border: 2px solid black;
} */

.tooManyModal {
  position: absolute;
  inset: 0;                 /* covers the parent */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  pointer-events: auto;
}

.tooManyModal-content {
  background-color: white;
  padding: 20px;
  border-radius: 50px;
  border: 2px solid black;
  /* max-width: 600px; */
}

.tooManyModal strong,
.tooManyModal b {
  font-weight: 700;
}

/* .tooManyModal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    border: 5px solid black;
} */