.result-container{
    width: 100%;
    height: 110%;
    padding: 10px;
    display: flex;
    overflow: auto;
    flex-direction: column;
    background-color: white;
    position: relative;
}
.vector-bar{
    width: 100%;
    height: 65px;
}
.graph-wrapper{
    width: 100%;
    height: 100%;
}
.graph-buttons{
    height: 85px;
    width: 100%;
}
.graph-canvas{
    height: calc(100% - 85px);
    width: 100%;
}

.graph-canvas-visible{
    height: 100%;
    width: 100%;
}

.graph-canvas-hidden{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    visibility: hidden;
    height: 60%;
    width: 60%;
    overflow-y: scroll;
}