
/* .tooManyModal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    border: 2px solid black;
} */

.tooManyModal {
  position: absolute;
  inset: 0;                 /* covers the parent */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  pointer-events: auto;
}

.tooManyModal-content {
  background-color: white;
  padding: 20px;
  border-radius: 50px;
  border: 2px solid black;
  /* max-width: 600px; */
}

.tooManyModal strong,
.tooManyModal b {
  font-weight: 700;
}

/* .tooManyModal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    border: 5px solid black;
} */